@import "../styles/mixins";

$linkSpacing: 1em;

.navigation{
    &__header{
        letter-spacing: 1px;
        font-weight: 400;
    }
    &__btn{
        display: inline-flex;
        flex: 0 1;
        padding: 8px;
        font-size: 18px;
        border-radius: 100vw;
        justify-content: center;
        align-items: center;
        transition: ease-in-out 256ms;
        &:hover{
            cursor: pointer;
            background: rgba(#000, 0.05);
        }
    }
    &__content{
        flex: 1 0;
        display: flex;
        &--container{
            display: flex;
        }
        &.is-horizontal{
            &.justify-start{
                justify-content: flex-start;
            }
            &.justify-center{
                justify-content: center;
            }
            &.justify-end{
                justify-content: flex-end;
            }
            .navigation__content--container{
                flex-direction: row;
                align-items: center;
                a{
                    margin: 0 $linkSpacing;
                    @include mobile{
                        margin: 0 ($linkSpacing / 2);
                    }
                }
            }
        }
        &.is-vertical{
            &.justify-start{
                align-items: flex-start;
            }
            &.justify-center{
                align-items: center;
            }
            &.justify-end{
                align-items: flex-end;
            }
            .navigation__content--container{
                flex-direction: column;
                justify-content: center;
                a{
                    margin: $linkSpacing 0;
                    @include mobile{
                        margin:  ($linkSpacing / 2) 0;
                    }
                }
            }
        }
    }
    &__menu{
        @include overlay($mode: fixed, $layer: 200);
        background: #fff;
        &--container{
            position: absolute;
            display: flex;
            height: 100vh;
            width: 100vw;       
        }
        &--close{
            text-align: center;
            padding: 2em;
            font-size: calc(4em -2px);
            @include mobile{
                padding: 1em;
            }
            .fas{
                transition: ease-in-out 256ms;
                &:hover{
                    cursor: pointer;
                    transform: rotate(90deg);
                    opacity: 0.7;
                }
            }
        }
        &--list-container{
            flex: 1 0;
            display: flex;
            flex-direction: column;
            padding: 4em 2em;
            @include mobile{
                padding: 2em 1em;
            }
            header{
                text-transform: uppercase;
                font-weight: 700;
                margin: 4em 0;
                @include mobile{
                    margin: 2em 0;
                }
            }
            footer{
                span{
                    line-height: 2;
                    font-size: 16px;
                    opacity: 0.7;
                    font-weight: 500;
                    @include mobile{
                        font-size: calc(16px - 1em/4);
                    }
                }
                .fab{
                    font-size: 30px;
                    margin-top: 1em;
                    margin-right: 1em;
                }
            }
        }
        &--list-items{
            flex: 1 0;
            a{
                display: block;
                margin: $linkSpacing 0;
            }
        }
    }
}