$fontFamily: 'Lato', 'Roboto', sans-serif;
$fontColor: #242424;
$activeLinkColor: #3273dc;

$palettes: (
    'primary': (
        'base': #525aff,
        'dark': #2a34d1
    ),
    'secondary': (
        'base': #fd78a5,
        'light': #d79cd2
    ),
    'accent': (
        'base': #fcdbd6,
        'light': #fee6dd,
        'dark': #ded2ef
    ),
    'background': (
        'base': #303030,
    ),
    'mono': (
        'white': #fffafa,
        'lighter': #eee,
        'light': #ccc,
        'dark': #555,
        'darker': #333,
        'black': #000
    ),
    'status': (
        'success': #acd8aa,
        'warning': #fff7ae,
        'info': #79addc,
        'error': #E78F8E, 
    )
);

/** Palette Interface */

@function palette($swatch-key, $color-key: 'base') {
    $swatch: map-get($palettes, $swatch-key);
    @return map-get($swatch, $color-key);
}

@function palette-darken($swatch-key, $color-key: 'base', $intensity: 0) {
    $swatch: map-get($palettes, $swatch-key);
    $color: map-get($swatch, $color-key);
    @return darken($color, $intensity);
}

@function palette-lighten($swatch-key, $color-key: 'base', $intensity: 0) {
    $swatch: map-get($palettes, $swatch-key);
    $color: map-get($swatch, $color-key);
    @return lighten($color, $intensity);
}

@function palette-alpha($swatch-key, $color-key: 'base', $alpha: 1.0) {
    $swatch: map-get($palettes, $swatch-key);
    $color: map-get($swatch, $color-key);
    @return rgba($color, $alpha);
}