@import "../styles/theme";
@import "../styles/mixins";

.contact__info{
    &--container{
        color: palette('mono', 'white');
        line-height: 2;
        font-size: 16px;
        letter-spacing: 1px;
    }
    &--title{
        color: inherit;
        font-weight: 700;
    }
    &--list{
        list-style: none;
        padding: 0;
        li{
            font-weight: 500;
            color: inherit;
            padding: 2px 0;
            @include mobile{
                font-size: calc(16px - 1em/4);
            }
        }
        a{
            color: inherit;
            font-weight: 600;
            text-decoration: underline;
        }
        .fas{
            font-size: 17px;
            margin-right: 16px;
        }
    }
}