// ? Page style components
.page{
    /** 
     * ? Structures content with respect to the viewport
    */
    &__layout{
        display: flex;
        width: 100vw;
        min-height: 100vh;
        /* // ? These modifiers can be used to position the page navigation */
        &.is-vertical{ flex-direction: column; }
        &.is-horizontal{ flex-direction: row; }
    }
    /**
     * ? Structures content with respect to the webpage
    */
    &__container{
        display: flex;
        flex: 1 0;
        width: 100vw;
        flex-direction: column;
    }
    /**
     * ? Structures content within page container 
    */
    &__content{
        &--container{
            display: flex;
            flex: 1 0;
            /* // ? Positions the content blocks direction */
            &.is-vertical{ flex-direction: column; }
            &.is-horizontal{ flex-direction: row; }
            /* //  ? Controls scale of horizontal padding for the content container */
            &.is-fluid{ padding: 0 0; }
            &.is-wide{ padding: 0 4em; }
            &.is-narrow{ padding: 0 8em; }
        }
        &--block{
            display: flex;
            flex: 1 0;
            &.is-narrow{
                flex: 0 1;
            }
            /* // ? Positions the block's children content direction */
            &.is-vertical{ flex-direction: column; }
            &.is-horizontal{ flex-direction: row; }

        }
    }
    /**
     * ? Structures navigation content within page layout
    */
    &__navigation{
        display: flex;
        position: relative;
        padding: 1em;
        z-index: 100;
        &.is-fixed{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }
        &.is-absolute{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
        &.is-sticky{
            position: sticky;
            top: 0;
        }
        &--container{
            flex: 1 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &.is-horizontal{ flex-direction: row; }
            &.is-vertical{ flex-direction: column; }
        }
    }
    /**
     * ? Structures footer content within page layout
    */
    &__footer{
        position: relative;
        flex: 0 1;
        padding: 4em;
        &.is-hidden{
            display: none;
        }
    }
}
